@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


    /* ----- BASE ----- */

    body{
        font-family: 'Poppins', sans-serif;
        background-color: #111;
        color:#eee;
    }

    .font-headers{
        font-family: 'Rajdhani', sans-serif;
    }

    h1,h2,h3{
        @apply font-headers;
    }

    p{
        @apply text-sm lg:text-base ;
    }

    *:focus{
        outline-color: white;}

    li, ul {
        @apply list-disc list-inside;}

    li{
        @apply text-xl leading-snug;}

    @media screen and (max-width:1024px){
        .scrolled{
            top:-70px!important;
        }}

    .button{
        @apply font-headers px-3 py-2 mx-auto text-white font-semibold rounded-md shadow-sm;}

    .page-wrapper{
        padding-top:70px;
    }

    @media screen and (min-width:1024px){
        .page-wrapper{
            padding-top:100px;
            max-width:1440px;
            margin:10px auto;
        }
    }

    
    /* ----- NAV ----- */

    .nav-link{
        @apply text-primary-900 font-bold text-3xl lg:text-white lg:text-2xl lg:font-medium hover:text-primary-600 border-b-2 border-transparent hover:border-red-600 mx-3 my-1;}

    .social-link{
        @apply text-primary-900 hover:text-primary-500 lg:text-white mx-2;}

    /* ----- SCROLLBAR ----- */

    ::-webkit-scrollbar {
        @apply bg-white w-2;}
      
    ::-webkit-scrollbar-track {
        @apply shadow-md;}
       
    ::-webkit-scrollbar-thumb {
        @apply bg-primary-700 rounded-sm;}
      
    :-webkit-scrollbar-thumb:hover {
        @apply bg-primary-600;}

    .navbar ::-webkit-scrollbar, .cart-overlay ::-webkit-scrollbar{
        @apply hidden;}


    /* ----- SEARCH ----- */

    .ais-SearchBox{
        @apply w-full;}

    .ais-SearchBox-form{
        @apply w-full;}
   
    .ais-SearchBox-input{
        @apply  bg-gray-600 bg-opacity-10 rounded-md w-full text-2xl p-4 my-1;}

    .ais-SearchBox-input{
        height:50px;}

    .ais-SearchBox-submit, .ais-SearchBox-resetIcon{
        @apply  hidden;}
   
    .ais-Hits-list{
        @apply  grid grid-cols-1 sm:grid-cols-2 xxl:grid-cols-3 sm:gap-0.5;}

    .ais-Hits-item{
        @apply rounded-sm shadow-md m-1 list-none;}

    .ais-RefinementList-list li{
        @apply list-none;}

    .ais-RefinementList-label{
        @apply flex flex-row items-center;}

    .ais-RefinementList input[type="checkbox"]{
        @apply w-4 h-4 rounded-md cursor-pointer mr-2;}

    .ais-RefinementList-labelText{
        @apply text-base;}
    
    .ais-RefinementList-count{
        @apply px-2 rounded-3xl leading-relaxed text-xs font-semibold text-black bg-gray-200 bg-opacity-50 ml-3;}

    .ais-RefinementList-showMore{
        @apply button button bg-white text-base font-bold tracking-tight rounded-sm text-black p-2 my-3 leading-none !important;}

    .ais-ClearRefinements-button{
        @apply button bg-white text-base font-bold tracking-tight rounded-sm text-black p-2 my-2 leading-none !important;}

    .ais-Pagination{
        @apply mt-auto pt-3;}

    .ais-Pagination-list{
        @apply flex flex-row items-center justify-center;}

    .ais-Pagination-item{
        @apply list-none;}

    .ais-Pagination-item--firstPage {
        @apply hidden;}

    li.ais-Pagination-item a{
        @apply text-2xl mx-2 hover:text-primary-600;}

    li.ais-Pagination-item--disabled, li.ais-Pagination-item--nextPage, li.ais-Pagination-item--previousPage{
        @apply mb-1 mx-1;}

    li.ais-Pagination-item--disabled span, li.ais-Pagination-item--previousPage span, li.ais-Pagination-item--previousPage a, li.ais-Pagination-item--nextPage span, li.ais-Pagination-item--nextPage a{
        @apply text-4xl font-semibold;}

    a.ais-Pagination-link--selected{
        @apply text-primary-700 font-semibold;}

    .ais-PoweredBy{
        @apply flex flex-row items-center mt-2;}

    .ais-PoweredBy-text{
        @apply text-sm font-medium mr-1;}

    .ais-PoweredBy-logo{
        width:80px;}


    /* ----- TOASTS ----- */

    .Toastify__toast-container{
        @apply p-2 m-1 !important;}

    .custom-toast{
        @apply  shadow-lg rounded-md text-white text-xl font-medium font-sans bg-primary-700 hover:bg-primary-600 min-h-0 cursor-pointer !important;}
    
    .Toastify__close-button{
        @apply text-white opacity-100 !important;}


    /* ----- CARDS ----- */

    .card{
        @apply flex flex-col items-center m-4 p-3 h-80 cursor-pointer;
    }

    .card-header{
        @apply text-4xl font-bold font-headers text-center pb-2;
    }

    .card-icon{
        @apply text-9xl text-indigo-500 hover:text-indigo-600 transform hover:scale-105 filter drop-shadow-lg my-auto;
    }

    .card-caption{
        @apply text-base leading-tight font-normal p-2;
    }

    .powered-by{
        max-width:160px;
        margin:0 10px 0 10px;
    }

    /* ----- LINE GRAPH ----- */

    .line-graph{
        height:100%;
    }

    .line-graph .react-tabs, .line-graph .react-tabs__tab-panel{
        height:100%;
    }

    .line-graph .react-tabs__tab-list{
        border:none;
        margin:0;
    }

    .line-graph .react-tabs__tab-list li{
        border:transparent;
        margin:10px 5px 0px 5px;
        padding:5px 10px;
        border-radius:15px;
        bottom:0;
        font-family: 'Rajdhani', sans-serif;
        font-size:1rem;
        font-weight:700;
    }

    .line-graph .react-tabs__tab-list li::after{
        display:none;
    }

    .line-graph svg path:first-child{
        stroke:#A5B4FC;
        stroke-width:2px;
        stroke-linecap:round;
    }

    .line-graph svg g circle{
        stroke:black;
        fill:white;
    }

    .line-graph svg g line{
        stroke:white;
        stroke-width:1;
        stroke-linecap:round;
    }

    @media screen and (min-width:600px){
        .line-graph svg path:first-child{
            stroke-width:1px;
        }
    }

/* ----- TEXT BODY ----- */

    .paragraph{
        @apply p-2;
    }

    .paragraph p{
        @apply py-1;
    }

    .paragraph-header{
        @apply text-2xl font-bold font-headers tracking-tight border-b border-primary-600 mb-2;
    }

    .post-body p{
        @apply py-1;
    }

/* ----- RESOURCES ----- */

    .card.resources{
        @apply m-0 mb-2 px-0 h-auto;
    }

    .resources .card-header{
        @apply text-2xl mt-5;
    }

    .resources .card-icon{
        @apply text-7xl sm:text-8xl md:text-7xl lg:text-8xl ;
    }

/* ----- SOCIAL SHARING ----- */

.social-sharing-icon{
    @apply text-2xl m-1 transform hover:scale-105 hover:text-indigo-600;
}






    

    
